/**
 * inventaire Application
 * =======================================
 * Root component of the application.
 * @module inventaire
 */

@import './parameters.scss';


.methodology{
  padding-left: 1rem;
  padding-right: 3rem;
  overflow: auto;
  height: 100%;
  font-size: 1.5em;
}