/**
 * inventaire Application
 * =======================================
 * Global css entrypoint - resets, clearfiles
 * @module inventaire
 */
 
:root
{
    // responsive font size relative to the surface of the screen
    font-size: 1vmax;
}

:global
{
    @import './normalize';
    html
    {
        box-sizing: border-box;
    }

    html,
    body
    {
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: Roboto, sans-serif;
    }

    *,
    *:before,
    *:after
    {
        box-sizing: inherit;
    }

    /*
  clear-fixes
  */
    button
    {
        color: inherit;
        border: none;
        outline: none;
        background: inherit;
    }
}
